body {
    margin: 0;
    padding: 0;

    color: #000000;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;

    background-image: url(/img/Layer.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}


